h1{
    font-family: Consolas;
    text-align: center;
}

p{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-shadow: 10px;
    font-size: 20px;
    color:goldenrod;
}

#two{
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    font-style: italic;
    text-align: center;
    text-shadow: 10px;
    color: brown;
}