body{
  background: url("https://images.unsplash.com/photo-1586830746542-19b25c53497f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1325&q=80");
  background-repeat: no-repeat;
}

div{
  background: lightblue;
  border: orange;
  border-radius: 50;
  border-width: thick;
  border-style: solid;
  border: orange thick solid;
}

.firstDiv{
  background-color: aquamarine;
}

.secondDiv{
  background-color: brown;
}

#uniquePara{
  color: blue;
}

span{
  background: red;
  color: black;
}

h1{
  color: rgb(40, 60, 80); 
}

h4{
  color: rgba(13, 90, 140, 0.5);
}

li{
    color: blueviolet; 
}

div p{
  color: #eab01c;
}

p{
    color: red;
}
